@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Kumbh Sans";
  src: url("../public/fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf");
}

body {
  @apply font-primary;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
}
